.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.formContainer h2 {
  margin: 0rem;
}

.formContainer hr {
  width: 100%;
  border: 1px solid white;
}

.submitButton {
  padding: 1rem 3rem;
  border-radius: 15px;
  border: none;
  font-size: 1rem;
  background: linear-gradient(
    128.51deg,
    rgba(255, 0, 229, 0.75) 9.11%,
    rgba(44, 10, 255, 0.75) 89.13%
  );
}

.exerciseContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.exerciseContainer label {
  font-size: 0.75rem;
}

.exerciseContainer select {
  padding: 0.5rem;
  border-radius: 15px;
  border: none;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

.exerciseContainer input {
  font-size: 0.75rem;
  margin-bottom: 1rem;
  background: none;
  border: none;
  border-bottom: 1px solid white;
}

.addExerciseButton {
  padding: 0.5rem 1.5rem;
  font-size: 0.75rem;
  margin: 1rem 0rem;
  border-radius: 15px;
  border: none;
}

.exerciseNameContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
}

/* container for exercise name */
.exerciseNameContainer label {
  font-size: 0.75rem;
}

.exerciseNameContainer select {
  font-size: 0.75rem;
  margin: 0;
  flex: 1;
}

/* container for sets, time, weight, and reps */
.statsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.statsContainer label {
  font-size: 0.75rem;
  max-width: 25%;
}

.statsContainer input {
  font-size: 0.75rem;
  margin: 0;
  max-width: 25%;
}
