.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0rem;
}

.userContainer {
  display: flex;
  gap: 1rem;
}

.userImageContainer img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.userImageContainer button {
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 15px;
  font-size: 0.75rem;
  background: linear-gradient(115.34deg, #eb00ff 0%, #2c0aff 100%);
}

.userNameContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.userNameContainer p {
  font-size: 0.75rem;
  margin: 0;
}

.userNameContainer span {
  font-size: 2rem;
  font-weight: 700;
  background: linear-gradient(128.51deg, #001aff 9.11%, #ff0a9d 89.13%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navContainer svg {
  background: none;
  border: none;
  font-size: 2rem;
  padding: 0rem;
}

/* Navigation Styling */
.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(8px);
  z-index: 10;
}

.links {
  display: flex;
  list-style: none;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 11;
  gap: 2rem;

  position: fixed;
  background-color: #101010;
  top: 0;
  width: 100%;
  padding: 1rem;

  height: 100vh;
  width: 80%;
  right: 0;
  margin: 0;
}

.links a {
  text-decoration: none;
  color: white;
  width: 100%;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.links a:hover {
  text-decoration: underline;
}

.links li {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.links li svg {
  position: inherit;
  font-size: 1rem;
}

.links svg {
  position: absolute;
  top: 5vh;
  right: 5vh;
  font-size: 2rem;
}
